body{
    background-color: black;
}

.instagram{
    width: 60vw;
    height: 100%;
    margin-left: 20vw;
    position: relative;
    background-color: black;
    margin-top: 12vh;
    
}


.afbeelding{
    width: 30vw;
    height: 30vw;
    position: relative;
    display: inline;
}

img{
}


figure:nth-child(2){
    margin-left: 30vw;
    
}

figure:nth-child(4){
    margin-left: 30vw;
}

figure:nth-child(6){
    margin-left: 30vw;
}

figure{
}

.vierkant1{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}

.vierkant2{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 30vw;
    left: 0px;
    display: flex;
    align-items: center;
}

.vierkant3{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 60vw;
    left: 30vw;
    display: flex;
    align-items: center;
}

.vierkant4{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 90vw;
    left: 0px;
    display: flex;
    align-items: center;
}

.vierkant5{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 120vw;
    left: 30vw;
    display: flex;
    align-items: center;
}

.vierkant6{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 150vw;
    left: 0px;
    display: flex;
    align-items: center;
}

.vierkant7{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 181vw;
    left: 30vw;
    display: flex;
    align-items: center;
}


/* ------tekst ------------*/
body{
    font-family: helvetica;
}

p{
    font-size: 1em;
    
}

/* ------hart ------------*/


#heart {
    position: relative;
    width: 100px;
    height: 90px;
     z-index: 2000;
    margin: 0 auto;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: white;
    z-index: 2000;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}


/* ------kruis ------------*/


#cross {
  background: white;
  height: 100px;
  position: relative;
  width: 20px;
    margin: 0 auto;
}
#cross:after {
  background: white;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}


#cross2 {
  background: white;
  height: 20px;
  position: relative;
  width: 5px;
}
#cross2:after {
  background: white;
  content: "";
  height: 5px;
  left: -8px;
  position: absolute;
  top: 8px;
  width: 20px;
}

/* ------vierkant ------------*/

#square {
	width: 100px;
	height: 100px;
	background: white;
    margin: 0 auto;
}

#square2 {
	width: 20px;
	height: 20px;
	background: white;
}

/* ------cirkel ------------*/


#circle {
	width: 100px;
	height: 100px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin: 0 auto;
}

#circle2 {
	width: 20px;
	height: 20px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

/* ------driehoek ------------*/


#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid white;
    margin: 0 auto;
}

#triangle-up2 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid white;
}



/* ------hexagon ------------*/

#hexagon {
	width: 100px;
	height: 55px;
	background: white;
	position: relative;
    margin: 0 auto;
}
#hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid white;
}
#hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid white;
}




/* ------diamant ------------*/

#diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: white;
	position: relative;
	top: -50px;
    margin: 0 auto;
}
#diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: white;
}


/* ------verlopen ------------*/


.verloop1{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 0px;
    left: 0px;
    
}


.verloop1{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 0px;
    left: 0px;
    
background: rgba(255,38,0,0.6);
background: -moz-linear-gradient(top, rgba(255,38,0,1) 0%, rgba(168,20,7,0.5) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,38,0,1)), color-stop(100%, rgba(168,20,7,1)));
background: -webkit-linear-gradient(top, rgba(255,38,0,0.5) 0%, rgba(168,20,7,0.5) 100%);
background: -o-linear-gradient(top, rgba(255,38,0,0.6) 0%, rgba(168,20,7,0.5) 100%);
background: -ms-linear-gradient(top, rgba(255,38,0,0.6) 0%, rgba(168,20,7,0.5) 100%);
background: linear-gradient(to bottom, rgba(255,38,0,0.6) 0%, rgba(168,20,7,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2600', endColorstr='#a81407', GradientType=0 ); 
}



.verloop2{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 30.15vw;
    right: 0px;
    
background: rgba(0,255,204,0.5);
background: -moz-linear-gradient(top, rgba(0,255,204,0.5) 0%, rgba(5,118,133,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,255,204,0.5)), color-stop(100%, rgba(5,118,133,0.6)));
background: -webkit-linear-gradient(top, rgba(0,255,204,0.5) 0%, rgba(5,118,133,0.6) 100%);
background: -o-linear-gradient(top, rgba(0,255,204,0.5) 0%, rgba(5,118,133,0.6) 100%);
background: -ms-linear-gradient(top, rgba(0,255,204,0.5) 0%, rgba(5,118,133,0.6) 100%);
background: linear-gradient(to bottom, rgba(0,255,204,0.5) 0%, rgba(5,118,133,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffcc', endColorstr='#057685', GradientType=0 );
}


.verloop3{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 60.35vw;
    left: 0px;
    

background: rgba(123,0,255,0.5);
background: -moz-linear-gradient(top, rgba(123,0,255,0.5) 0%, rgba(107,5,133,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(123,0,255,0.5)), color-stop(100%, rgba(107,5,133,0.6)));
background: -webkit-linear-gradient(top, rgba(123,0,255,0.5) 0%, rgba(107,5,133,0.6) 100%);
background: -o-linear-gradient(top, rgba(123,0,255,0.5) 0%, rgba(107,5,133,0.6) 100%);
background: -ms-linear-gradient(top, rgba(123,0,255,0.5) 0%, rgba(107,5,133,0.6) 100%);
background: linear-gradient(to bottom, rgba(123,0,255,0.5) 0%, rgba(107,5,133,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b00ff', endColorstr='#6b0585', GradientType=0 );
}


.verloop4{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 90.45vw;
    right: 0px;
    

background: rgba(255,0,51,0.5);
background: -moz-linear-gradient(top, rgba(255,0,51,0.5) 0%, rgba(133,20,5,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,51,0.5)), color-stop(100%, rgba(133,20,5,0.6)));
background: -webkit-linear-gradient(top, rgba(255,0,51,0.5) 0%, rgba(133,20,5,0.6) 100%);
background: -o-linear-gradient(top, rgba(255,0,51,0.5) 0%, rgba(133,20,5,0.6) 100%);
background: -ms-linear-gradient(top, rgba(255,0,51,0.5) 0%, rgba(133,20,5,0.6) 100%);
background: linear-gradient(to bottom, rgba(255,0,51,0.5) 0%, rgba(133,20,5,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0033', endColorstr='#851405', GradientType=0 );
}

.verloop5{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 120.65vw;
    left: 0px;
    

background: rgba(255,217,0,0.5);
background: -moz-linear-gradient(top, rgba(255,217,0,0.5) 0%, rgba(112,133,5,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,217,0,0.5)), color-stop(100%, rgba(112,133,5,0.6)));
background: -webkit-linear-gradient(top, rgba(255,217,0,0.5) 0%, rgba(112,133,5,0.6) 100%);
background: -o-linear-gradient(top, rgba(255,217,0,0.5) 0%, rgba(112,133,5,0.6) 100%);
background: -ms-linear-gradient(top, rgba(255,217,0,0.5) 0%, rgba(112,133,5,0.6) 100%);
background: linear-gradient(to bottom, rgba(255,217,0,0.5) 0%, rgba(112,133,5,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd900', endColorstr='#708505', GradientType=0 );
}

.verloop6{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 150.8vw;
    right: 0px;
    

background: rgba(0,170,255,0.5);
background: -moz-linear-gradient(top, rgba(0,170,255,0.5) 0%, rgba(5,50,133,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,170,255,0.5)), color-stop(100%, rgba(5,50,133,0.6)));
background: -webkit-linear-gradient(top, rgba(0,170,255,0.5) 0%, rgba(5,50,133,0.6) 100%);
background: -o-linear-gradient(top, rgba(0,170,255,0.5) 0%, rgba(5,50,133,0.6) 100%);
background: -ms-linear-gradient(top, rgba(0,170,255,0.5) 0%, rgba(5,50,133,0.6) 100%);
background: linear-gradient(to bottom, rgba(0,170,255,0.5) 0%, rgba(5,50,133,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaff', endColorstr='#053285', GradientType=0 );
}

.verloop7{
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 181vw;
    left: 0px;
    

background: rgba(133,15,0,0.5);
background: -moz-linear-gradient(top, rgba(133,15,0,0.5) 0%, rgba(71,31,0,0.6) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(133,15,0,0.5)), color-stop(100%, rgba(71,31,0,0.6)));
background: -webkit-linear-gradient(top, rgba(133,15,0,0.5) 0%, rgba(71,31,0,0.6) 100%);
background: -o-linear-gradient(top, rgba(133,15,0,0.5) 0%, rgba(71,31,0,0.6) 100%);
background: -ms-linear-gradient(top, rgba(133,15,0,0.5) 0%, rgba(71,31,0,0.6) 100%);
background: linear-gradient(to bottom, rgba(133,15,0,0.5) 0%, rgba(71,31,0,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#850f00', endColorstr='#471f00', GradientType=0 );
}

/* ------figuren hoeken ------------*/

.figuren{
    width: 28vw;
    height: 28vw;
    position: relative;
    margin-left: 1vw;
    margin-top: 1vw;
    opacity: 1;
}

#square2{
    position: absolute;
    left: 0px;
    top: 0px;
}

#cross2{
    position: absolute;
    right: 0px;
    top: 0px;
}

#circle2{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#triangle-up2{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* ------gedraaide tekst ------------*/
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

h2{
    color: white;
    letter-spacing: 5px;
    position: absolute;
    right: -50%;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
    top: 50%;

}

h3{
    color: white;
    letter-spacing: 5px;
    position: absolute;
    left: -50%;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.7em;
    text-align: center;
    width: 100%;
    text-align: center;
    top: 50%;
}
